# Compilation
server
*.o
*.out

# Data
*.dat
*.csv
# data/   # Si decides meter los guardados en una carpeta

# IDE's
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Temporal files
*~
*.swp
.DS_Store
old/